# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../welfound-challenge\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\workingprojects\welfound-challenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
